/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
}

nav h3 {
    font-size: 24px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
}

nav ul li a i {
    font-size: 20px;
    font-weight: 600;
}

/* top banner section style */
.top-banner {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-banner-info {
    width: 50%;
}

.top-banner-title {
    font-size: 52px;
    margin-bottom: 16px;
}

.top-banner-info p {
    margin-bottom: 20px;
}

.top-banner-image {
    width: 40%;
    position: relative;
}

.top-banner-image img {
    width: 440px;
    height: 414px;
    padding: 10px;
}

.circle {
    position: absolute;
    left: 0;
    z-index: -1;
}

.preebook-btn {
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 40px;
    color: #fff;
    box-shadow: 1px 1px 10px #E02C6D;
}

.fa-arrow-right {
    margin-left: 5px;
    color: white;
}